  
  body {
        border: 35px #FFEF00;
        background-color: black;
    }

.beta-badge {
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: #f5c542; /* soft yellow */
  color: black;
  padding: 4px 8px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 4px;
  z-index: 1000;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}


    a {
        text-decoration: none; 
        color: inherit;
    }


    .title {
        text-align: center;
        font-size: 80px;
        padding: 10px;
        color: red;
        -webkit-text-stroke: 1px brown;
        font-family: 'Blaka Hollow', sans-serif;
    }


    .title:hover {
        color: red;
        -webkit-text-stroke: 1px black;
    }

    .sub-title {
      color: white;
      font-family: Teko, sans-serif;
      font-size: 25px;
      text-align: center;
      padding: 15px;
    }


    .nav-links {
        display: flex;
        justify-content: center;
        font-family: Teko, sans-serif;
        border-top: 1px solid #eee;
        border-bottom: 1px solid white;
        padding-bottom: 40px;
    }

.quote-button {

    display: inline-block;
        color: black;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        margin-top: 3ch;
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
        padding: 10px 20px;
        transition: all 0.3s ease;
}

.quote-button:hover {
    background-color: red;
}


.image-boxes {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  padding: 60px 20px;
}

.image-boxes img {
  width: 300px;
  height: auto;
  border-radius: 12px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.image-boxes img:hover {
  transform: scale(1.05);
}

.site-footer {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  font-size: 10px;
  color: white;
  padding: 20px;
  margin-top: 40px;
  border-top: 1px solid #eee;
}

.tos_pp {
  display: flex;
  gap: 15px;
}

.logos {
  display: flex;
  align-items: center;
  gap: 15px;
}

.insta_logo {
  width: 15px;
  height: 15px;
}

.tiktok_logo {
  width: 20px;
  height: 20px;
}