.help {
  font-family: 'Fira Code', monospace;
  height: 3ch;
  list-style: none; 
  color: inherit;
  outline: none;
  text-decoration: none;
  display: flex;
  background-color: #111111;
  border-bottom: 2px solid #00ff90;
  justify-content: center;
  align-items: center;
}

.waffique_trademark {
  color: #00ff90;
  font-size: 0.45rem;
  padding: 1rem;
}

header {
  font-family: 'JetsBrains Mono', monospace;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e1e1e;
  border-bottom: 2px solid #a259ff;
  height: 10ch;
  padding-right: 2.3rem;
}


.get_started {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  outline: none;
  color: inherit;
}


nav ul {

  display: flex;
  align-items: center;
  list-style: none;
  color: #a259ff;


}



.home {

  color: black;


}

.contact {

  background-color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 80vh;



}

.contact_info {

  display: flex;
  max-width: 50%;

}

.email_info {

  color: black;
  text-align: center;
  font-size: 20px;
}

.websites {

  color: black;


}

.website_box {
  display: flex;
  align-items: center;
  gap: 50px;         
  padding: 50ch;    
}

.box {
  width: 250px;
  height: 350px;
  background-color: #f4f4f4;
  border-radius: 20px;
  box-shadow: 4px 0px 10px rgba(0,0,0,0.1);
  display: flex;
  justify-content: center;
 
  font-weight: bold;
}


.portfolios {

  color: black;
  text-align: center;
  font-size: 100px;


}

.login {

  color: white;


}

footer {
  font-family: 'Fira Code', monospace;
  background-color: black;
  border-top: 2px solid yellow;
  height: 10ch;

}

.footer_nav ul {

  display: flex;
  justify-content: center;
}