
    
    body {
        border: 35px #FFEF00;
        background-color: #272757;
    }

    .content {
        border: 35px #FFEF00;
        margin: 0;
        padding: 10px;
        box-sizing: border-box;
    }

    a {
        text-decoration: none; 
        color: inherit;
    }

    .title {
        text-align: center;
        font-size: 80px;
        color: #FFEF00;
        -webkit-text-stroke: 1px #90D5FF;
        font-family: 'Blaka Hollow', sans-serif;
    }


    .nav-links {
        font-family: Teko, sans-serif;
        color: #90D5FF;
        font-size: 30px;
        text-align: center;
        margin-top: 3ch;
        word-spacing: 5ch;
    }


    .contact {
        color: white;
    }