
    body {
        background-color: white;
    }

    a {
        text-decoration: none; 
        color: inherit;
    }

    .nav-bar {
        font: bold;
        display: flex;
    }



    .subtitle {
        color: purple;
        font-size: 28px;
        margin-top: 35px;
       /* text-indent: -18ch; */
    }


    .nav-links {
        color: darkblue;
        gap: 50px;
        font-size: 28px;
        display: flex;
        margin-left: 255px;
        margin-top: 35px;
    }

    .search-bar{
        text-indent: 122px;
        margin-top: 43px;
    }


    .title {
        text-indent: -650px;
        font-size: 78px;
        margin-top: 250px;
        color: black;
    }